<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center align-items-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <a href="/Login/Islem"><img src="/LoginPage/img/logo.png" alt="logo1"></a>
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Şifreyi sıfırla</h4>
                        <form method="POST" class="my-login-validation" novalidate="">
                            <div class="form-group">
                                <label for="new-password">Yeni şifre</label>
                                <input id="new-password" type="password" class="form-control" name="password" required autofocus data-eye>
                                <div class="invalid-feedback">
                                    Şifre gereklidir!
                                </div>
                                <div class="form-text text-muted">
                                    Parolanızın güçlü ve hatırlanması kolay olduğundan emin olun

                                </div>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Şifreyi Sıfırla
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    DVU İşe alım Projesi
                </div>
            </div>
        </div>
    </div>
</section>